<% infoMessages && infoMessages.forEach((message) => { %>
    <div class="alert animateOpen alert-info">
    <%- message %>
    </div>
    <% })
    dangerMessages && dangerMessages.forEach((message) => { %>
    <div class="alert animateOpen alert-danger">
    <%- message %>
    </div>
    <% })
    errorMessages && errorMessages.forEach((message) => { %>
    <div class="alert animateOpen alert-danger">
    <%- message %>
    </div>
    <% })
    successMessages && successMessages.forEach((message) => { %>
    <div class="alert animateOpen alert-success">
    <%- message %>
    </div>
    <% })
    warningMessages && warningMessages.forEach((message) => { %>
    <div class="alert animateOpen alert-warning">
    <%- message %>
    </div>
    <% }) %>