<% if(currentUser.username === "admin") { %>
    <a href="/bars&beers/createBeer">Create Beer</a>
<% } %>

<h1>Lista de Cervezas</h1>

<ul>
    <% beers.forEach((beer) => { %>
        <li>
            <%= beer.name %> 
            <%= beer.description %>
            <%= beer.foto %>
            <a href="/bars&beers/<%= beer._id %>/updateBeer">Update</a>
            <form action="/bars&beers/<%= beer._id %>/delete" method="post">
                <input type="submit" value="delete">
            </form>
            <a href="/bars&beers/<%= beer._id %>/draftBars">Bars with this Draft Beer </a>
            <a href="/bars&beers/<%= beer._id %>/bottleBars">Bars with this Bottle Beer </a>
        </li>
   <% }) %>
</ul>
