<h1>Lista de Bars</h1>

<ul>
    <% bars.forEach((bar) => { %>
        <li>
            <%= bar.name %> 
            <%= bar.description %>
            <%= bar.description %>
            <%= bar.address.street %>
            <%= bar.address.city %>
            <%= bar.address.neighbourhood %>
            
        </li>
   <% }) %>
</ul>