<h2 class="normal">Lista de usuarios</h2>


    <% users.forEach((user) => { %>
        <a class="hompePage-box" href="/bars&beers/<%= user._id %>/userProfile">
            <div class="img-box avatar">
                <img src="<%= user.userimage %>" alt="" onerror="if (this.src != '../img/avatar_standard.jpeg') this.src = '../img/avatar_standard.jpeg';">
            </div>
            <div class="text-box">
                <h3 class="nounderline"><%= user.username %> </h3>
                
                <p class="text-size user-box"> Lives in <b class="bold"><%= user.neighbourhood %></b>, <%= user.city %></p>
                <p class="text-size user-box"> Loves: <b class="bold"><%= user.beerType %></b> beer</p>
            </div>
        </a>

        <% if(currentUser.username === "admin") { %>
    <div class="flex">
        <div class="card-CRUD">
            <form class="input_btn" action="/bars&beers/<%= user._id %>/deleteUser" method="post">
             <input class="input_btn_delete" type="submit" value="Delete">
            </form>
        </div>
    </div>
    <% } %>
        
   <% }) %>
