<h2><%= user.username %></h2>

<ul><% user.favouriteBeers.forEach((beer) => { %>
    <li>
        <%= beer.name %>
    </li>
    <% }) %>
</ul>
<ul>
        <% bars.forEach((bar) => { %>
            
            <li><%= bar.name %>
                <%= bar.address.neighbourhood %>
                <%= bar.BeersDraft %>
            </li>
        <% }) %>
</ul>
    