<h2><%= user.username %></h2>

<ul><% user.favouriteBeers.forEach((beer) => { %>
    <li>
        <%= beer.name %>
    </li>
    <% }) %>
</ul>
<ul>
        <% bars.forEach((bar) => { %>
            
            <li><%= bar.name %>
                <%= bar.address.neighbourhood %>
            
            <div class="card-CRUD">
                    <form class="input_btn" action="/bars&beers/<%= bar._id %>/deleteBar" method="post">
                    <input  type="submit" value="Delete">
                    </form>
            </div>
            
            </li>
        <% }) %>
</ul>
    